<table class='table'>
  <tr>
    <th>Name</th>
    <th>Dock Count</th>
    <th>City</th>
    <th>Installation Date</th>
  </tr>
  <tr>
    <td><%= @station.name %></td>
    <td><%= @station.dock_count %></td>
    <td><%= @station.city %></td>
    <td><%= @station.installation_date %></td>
  </tr>
</table>
