<section class="hero is-fullheight header-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <section class="column is-4 is-offset-4 box has-background-white">
      <h1 class="title has-text-weight-bold is-size-1">
        BikeShare
      </h1>
      <h2 class="subtitle is-italic">
        Get your ride on
      </h2>
      <h2 class="subtitle">
      <%= button_to "Log in ", login_path, class: "button is-large is-black" %>
      </h2>
      </section>
    </div>
  </div>
]</section>
