<section class="hero is-fullheight has-bg-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white has-text-centered has-text-weight-bold ">
        BikeShare
      </h1>
      <br>
      <h2 class="is-size-3 has-text-white has-text-centered has-text-weight-bold ">
        Get your ride on
      </h2>
      <br>
      <%= button_to "Log in ", login_path, class: "button is-large is-primary is-inverted " %>
    </div>
  </div>
      <div class="container ">
      </div>
</section>
