<div class="container">
  <h1 class="title is-1 has-text-white has-text-centered">BikeShare</h1>
  <p class="subtitle has-text-white has-text-centered">
    Get your ride on
  </p>
  <br>

  <%= button_to "Log in", login_path, class: "button has-text-centered is-large is-inverted is-outlined" %>

</div>